.home-page{
    .text-zone{
        position: absolute;
        left:10%;
        top:50%;
        transform: translateY(-50%);
        width: 40%;
        max-width: 90%;
        padding: 10px;
    }


    h1{
        color: #fff;
        font-size: 50px;
        padding: 20px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color:#edff22;
            top: 2%;
            font-size: 18px;
            position: absolute;
            margin: -40px;
            left: 15px;
            // opacity: 0.6;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;

        }
        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color:#edff22 ;
            font-size: 18px;
            position: absolute;
            margin-top:18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;


        }
    }
}

.flat-button{
    color:#ffd700 ;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin: 3%;
}

// .image{
//     width: 50%;
//     height: 50%;
//     padding: 50px;
//     border-radius: 8px;
// }

.image{

    background: #000;
    float: right;
    width: 53%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        animation: backInRight 1s 1.2s;
        animation-fill-mode: forwards;
    }
}